

@model Project.Models.EditProductModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">THÊM MỚI SẢN PHẨM</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">Trang chủ</li>
                <li class="breadcrumb-item active">Sản phẩm</li>
                <li class="breadcrumb-item active">Danh sách sản phẩm</li>
                <li class="breadcrumb-item active">Thêm mới</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <div class="card mb-3">

            <div class="card-header">
                <span class="pull-right">
                    <button class="btn btn-primary btn-sm" onclick="EditProduct()">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Thêm ngay
                    </button>
                    <button class="btn btn-primary btn-sm" id="btnEditImageProducts">
                        <i class="fa fa-caret-square-o-down bigfonts" aria-hidden="true"></i> Chọn ảnh
                    </button>
                </span>
            </div>
            <!-- end card-header -->
            <!-- <div class="card-bodycard-body"> -->

            <div class="container-fluid mt-3 card-body">
                <form id="FormEdit_Product">
                    <div class="row ">

                        <div class="card col-md-4 pr-1">
                            <div class="card-header card_header">
                                HÌNH ẢNH CỦA SẢN PHẨM
                            </div>
                            <div class="card-body">
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="w-100 h-25 pl-2 pr-2" id="ImageEditProduct">
                                            <img src="/Uploads/images/product-04.jpg" style="width: 80%; height: 100%; padding-left:17%" title="Hình ảnh  sản phẩm" class="EditImageProduct">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="hidden" name="image" value="" id="txtEditImageProduct" />
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <input class="form-control" name="AltImage" type="text" placeholder="Mô tả hình ảnh" id="txtEditAltImageProduct" />
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>


                        <div class="card col-md-4 pr-1">
                            <div class="card-header card_header">
                                THÔNG TIN CỦA SẢN PHẨM
                            </div>
                            <div class="card-body">
                                @*Tên sản phẩm*@
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" value="@Model.Name" name="Name" type="text" placeholder="Tên của sản phẩm" id="txtEditProductName" title="Tên của loại sản phẩm" />
                                    </div>
                                </div>

                                @*Mô Tả Ngắn về sản phẩm*@
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" value="@Model.Description" name="Description" type="text" placeholder="Mô tả ngắn về sản phẩm" id="txtEditDescription" title="Tên của loại sản phẩm" />
                                    </div>
                                </div>
                                @*Loại sản phẩm*@
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <select name="ParentID" class="form-control txtSeachGroupProductCategory" id="txtEditProductParentId" title="tên nhóm của loại sản phẩm">
                                            <option value="@Model.CategoryID">@Model.CategoryName</option>
                                        </select>
                                    </div>
                                </div>

                                @*Giá bán của sản phẩm*@
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <input class="form-control"  name="PromotionPrice" value="@Model.PromotionPrice" type="text" placeholder="Giá bán" id="txtEditPromotionPriceProduct" title="Giá bán của sản phẩm" />
                                    </div>
                                </div>

                                @*số lượng sản phẩm*@
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" name="Quantity" value="@Model.Quantity" type="number" placeholder="số lượng sản phẩm" id="txtEditDisplayOrderProuctCategory" title="Thứ tự hiển thị trong danh sách" />
                                    </div>
                                </div>

                                @*có hiển thị hiển thị lên trang chủ không*@
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <select name="ShowOnHome" class="form-control" required id="txtEditShowOnHomeProduct" title="Có cho phép loại sản phẩm có hiển thị lên trang chủ không">
                                            <option value="true">hiển thị lên trang chủ  </option>
                                            <option value="false">không hiển thị lên trang chủ </option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="card col-md-4 pl-1">
                            <div class="card-header card_header">
                                THÔNG TIN SEO LOẠI SẢN PHẨM
                            </div>
                            <div class="card-body">
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <input class="form-control"  value="@Model.MetaTitle" name="MetaTitle" type="text" placeholder="Meta Title" id="txtEditMetaTitleProduct" />
                                    </div>
                                </div>
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <input class="form-control" name="SeoTitle" type="text" placeholder="Seo Title" id="txtEditSeoTitleProduct" />
                                    </div>
                                </div>
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <input class="form-control" value="@Model.MetaKeywords" name="MetaKeywords" type="text" placeholder="Meta KeyWord" id="txtEditMetaKeywordsProduct" />
                                    </div>
                                </div>
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <input class="form-control" name="MetaDescriptions" @Model.MetaDescriptions type="text" placeholder="Meta Description" id="txtEditMetaDescriptionsProduct" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="card col-md-12 pr-1">
                            <div class="card-header card_header">
                                BÀI VIẾT GIỚI THIỆU LOẠI SẢN PHẨM
                            </div>
                            <div class="card-body">
                                <input type="hidden" name="DescriptionIdDetail" id="txtEditDescriptionProduct" />
                                <textarea id="txtEditDescriptionProductCkeditor"  >@Html.Raw(Model.DescriptionIdDetail)</textarea>

                          
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
        <!-- end card-body -->

    </div>
    <!-- end card -->

</div>


@*<div>
        <input id="txtimage " class="form-control pt-4" />

    </div>*@




<script src="~/Assets/Admin/js/jquery-3.3.1.js"></script>
<script>


    $(document).ready(function () {

        CKEDITOR.replace("txtEditDescriptionProductCkeditor", { height: 1000, });
        $('#btnEditImageProducts').click(function () {
            var fider = new CKFinder();
            fider.selectActionFunction = function (fileUrl) {
                $(".EditImageProduct ").remove();
                $("#ImageEditProduct").append("<img src='" + fileUrl + "' style='width: 80%; height: 100%; padding-left:17% ' class='EditImageProduct' title='Hình ảnh loại sản phẩm'/>")
                $('#txtEditImageProduct').val(fileUrl);
            }
            fider.popup();
        })
    });
</script>



